@import "./size.scss";
@import "./color.scss";

.message_wrap {
  color:var(--palette-text);
  background: var(--palette-background);
  border-radius: $border_rad;

  .message {
    display: flex;
    flex-direction: column;
    border: $border_sz var(--palette-edge) solid;
    border-radius: $border_rad;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding:$padding;

    &_head {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      border-bottom:2px lightgray solid;
      padding-bottom: $padding;

      &_name_icon_wrap {
        display: flex;
        flex-direction: row;
        align-items: center;

        .icon {
          margin-right:$padding;
          font-size: 150%;
          display: flex;
        }
      }
      .date {
        font-size: smaller;
      }
    }

    &_content {
      margin-top:$padding;
    }
  }

  .message_hooter {
    border: $border_sz var(--palette-edge) solid;
    border-radius: $border_rad;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: $padding;
  }
}